<form class="form-inline my-2 my-lg-0" method="GET">
{% csrf_token %}
<div class="input-group">
  <input class="form-control" type="text" name="query" placeholder="Поиск" aria-label="Search" autocomplete="off"/>
  <div class="input-group-append">
    <button class="btn btn-outline-success" type="submit">Искать</button>
  </div>
</div>
<div id="search-results-container">
  <!-- Результаты поиска будут вставляться сюда с помощью JS -->
</div>
</form>


<script>
  $(document).ready(function() {
    $(".form-control").on("keyup", function() {
        var query = $(this).val();
        if (query.length > 2) {
            $.ajax({
                url: '/search/', // URL вашего поискового эндпоинта
                data: {'query': query},
                success: function(data) {
                  var container = $("#search-results-container");
                  container.empty();
                  if(data.results.length > 0) {
                      data.results.forEach(function(item) {
                          var resultHtml = '<div class="search-result-item"><a href="' + item.url + '">';
                          if(item.image_url) {
                              resultHtml += '<img src="' + item.image_url + '" alt="' + item.title + '" style="width:50px; height:auto;">';
                          }
                          resultHtml += item.title + '</a><span class="search-result-price">' + item.price + ' руб.</span></div>';
                          container.append(resultHtml);
                      });
                      container.show(); // Показать контейнер с результатами
                  } else {
                      container.hide(); // Скрыть контейнер, если нет результатов
                  }
              }
            });
        } else {
            $("#search-results-container").empty();
        }
    });

    // Отключение стандартного сабмита формы
    $(".form-inline").on("submit", function(e) {
        e.preventDefault();
    });
  });
</script>