{% load mptt_tags %}

<ul class="navbar-nav">
    {% recursetree shop %}
        {% if not node.is_leaf_node %}
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="{{ node.get_absolute_url }}" id="dropdown{{ forloop.counter }}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ node.name }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown{{ forloop.counter }}">
                    {% if children %}
                        {{ children }}
                    {% endif %}
                </div>
            </li>
        {% else %}
            <a class="nav-link" href="{{ node.get_absolute_url }}">{{ node.name }}</a>
        {% endif %}
    {% endrecursetree %}
</ul>



<script>
    $(document).ready(function() {
        $('.nav-item.dropdown').hover(function() {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideDown();
        }, function() {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
        });
    
        $('.nav-item.dropdown').click(function() {
            window.location = $(this).find('a').attr('href');
        });
    
        $('.dropdown-menu').click(function(e) {
            e.stopPropagation(); // Это предотвращает срабатывание события клика на родительском элементе
        });
    });
</script>