<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация в {{ site_name }}</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <h2>Авторизация в {{ site_name }}</h2>

    Код подтверждения: <b>{{ code }}</b>

    <p>Если вы не авторизовывались на сайте https://{{ site_name }}, пожалуйста, проигнорируйте это письмо и обратитесь в тех. поддержку.</p>

    <p>С наилучшими пожеланиями,<br> Команда Сайта https://{{ site_name }}</p>

</body>
</html>
